body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    box-shadow: #333;
}

img {
    display: block;
    
    margin: 20px auto;
    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h3 {
    color: #555;
    margin-top: 30px;
}

p {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
}

h4 {
    font-size: 20px;
    color: #000000;
}